*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto' , sans-serif;
    
}
.welcome-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
  
  }
  
  .welcome-title h1 {
    font-size: 2.5rem;
    margin-top: 10px;
    color: #226597;
    font-weight: 800;
  }
  
  .heart-icon {
    color: #226597; 
    font-size: 50px;
  }
  
  .main-title p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.6);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
  }
.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  background-color:#4e9fcf;
  width: 19em;
  height: 350px;
  border-radius: 50px;
  margin: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  transition: 0.7s ease;
}
.card:hover {
  transform: translateY(-5px);
}


.doctor-info {
  text-align: center;
}
.doctor-info a{
  text-decoration: none;
  color: #fff;
  font-size:2em ;
  display: inline-block;
  margin: 10px;
  font-weight: 700;
  transition: 0.7s ease;
  text-shadow:1px 1px 5px #226597;
}
.doctor-info a:hover{
transform: scale(1.1);
}
.doctor-info p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;

}
.rating {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  color: #f4c150;
  transition: 0.7s ease;
}
.rating:hover {
  transform: scale(1.1);
}
.slogan {
  font-size: 0.9rem;
  color: #fff;
  margin-top: 8px;
  font-weight: bold;
}
body:has(.switch input:checked) {
  transition: 200ms ease-in-out;
 background-color: #0a2647;
}
body:has(.switch input:checked) .welcome-title h1 {
  color: #e0eaf0;

}
body:has(.switch input:checked) .heart-icon {
  color: #e0eaf0;
}
body:has(.switch input:checked) .main-title p {
  color: #e0eaf0;
}
body:has(.switch input:checked) .card {
  background-color: #123458;
  box-shadow: 0 4px 12px rgb(0, 0, 0);
}
body:has(.switch input:checked) .doctor-info a{
  text-shadow: 1px 1px 5px#09122C;
}
.image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -50px;
  margin-bottom: 10px;
}

.doctor-image {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #123458;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
