html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

body {
    margin: 0;
    background-color: #ffffff;
    color: #222;
}



.text-header {
    flex: 1;
    background-color: #eaf1ff;
    padding: 40px 20px;
    text-align: center;
    max-width: 500px;
    border-radius: 10px;
}


.text-header h1 {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #4a4a4a;
}


.text-header button {
    padding: 10px 20px;
    background-color: #4d8eff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.text-header button:hover {
    background-color: #3c79e6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.intro-video{
   
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}


.video-container {
    flex: 2;
}


.video-container video {
    max-width: 100%; 
    height: auto;  
    border-radius: 5px;       
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}


.section {
    padding: 40px 20px;
    text-align: center;
}


.services {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.section h2{
    color: #4e9fcf;
    font-size: 40px;
    margin-bottom: 10px;
}


.services a{
    text-decoration: none;
}


.services .card i{
    color: #4e9fcf;
}

.card {
    height: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card h3{
    color: #4e9fcf;
    font-style: bold;
    margin-top: 10px;
}


.card p{
    color: #2c3e50;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 600;
}



.card:hover {
    transform: translateY(-5px);
}


.card img {
    width: 60px;
    margin-bottom: 15px;
}


.card a {
    text-decoration: none;
    color: inherit;
}


.card button {
    background-color: #4d8eff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}


.hours {
    background-color: #fff;
    padding: 30px 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.map {
    margin-top: 70px;
}


.map img{
    height: 200px;
    border-radius: 10px;
}


.mapTime{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 50px; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.testimonials {
    height: 200px;
    overflow-y: auto;
    background-color: #fff;
    margin: 40px auto; 
    padding-top: 10px;
    bottom: 20px;
    /* padding: 30px 20px; */
    text-align: center;
    border: 2px solid #d4eaf7;
    width: 70%; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    scrollbar-width: thin;
    scrollbar-color: #c0d8e5 transparent;
  }


  .testimonial-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .testimonial-header i {
    width: 10px;
    height: 20px;
  }

  .testimonial-box {
    background-color: #f0f4f8; 
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
  }
  
  .testimonial-box p {
    margin: 0 0 10px 0;
    line-height: 1.5;
  }
  
  .testimonial-box strong {
    display: block;
    text-align: right;
    color: #1f1f1f;
  }
  
  
  .testimonials p {
    font-style: italic;
    font-weight: 600;
    color: #444;
  }

.footer {
    height: 6%;
    background-color: #4e9fcf;   
    color: white;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0; 
    min-height: 30px;
    font-size: 12px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icons a {
    color: white;
    font-size: larger;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    color: #2c3e50;
  }


  
              /*****************   Dark Mode  ********************/

body:has(.switch input:checked) {
    background-color: #0A2647; 
    color: #e0e0e0;
}


body:has(.switch input:checked) .text-header {
    background-color: #cfd8dc;
}
body:has(.switch input:checked) .testimonial-box {
    background-color: #cfd8dc;
}

body:has(.switch input:checked) .section h2 {
    color: #E0EAF0; 
}

body:has(.switch input:checked) .card {
    background-color: #16375c; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
    transition: transform 0.3s ease;
}

body:has(.switch input:checked) .card:hover {
    transform: translateY(-5px);
  }

body:has(.switch input:checked) .card i {
    color: #4fc3f7; 
}

body:has(.switch input:checked) .card p {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body:has(.switch input:checked) .card h3 {
    color: #4fc3f7;
}


body:has(.switch input:checked) .hours {
    background-color: #16375c; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
    transition: background-color 0.3s;
}


body:has(.switch input:checked) .testimonials {
    background-color: #16375c; 
    scrollbar-width: thin;
    scrollbar-color: #74b2ce transparent;
}


body:has(.switch input:checked) .testimonials h3 {
    color: #E0EAF0  ;
    font-weight: 500;
}


body:has(.switch input:checked) .testimonial-box {
    background-color: #1B3A57;
}


body:has(.switch input:checked) .testimonial-box strong {
    color: #5AC8FA;
}

body:has(.switch input:checked) .testimonials p {
    color: #E0EAF0;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body:has(.switch input:checked) .footer {
    background-color: #0d2a3f;
    color: #b0bec5;
}


body:has(.switch input:checked) .social-icons a:hover {
    color: #83b9ee;
}


